<html>

<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
</head>

<body>
    <div class="row mt-5">
        <div class="col-md-6 m-auto">
            <div class="card card-body text-center">
                <h1 class="text-center mb-3">Dashboard</h1>
                <p>Add book and search for books</p>
                <div>
                    <a href="/books/bookForm"><button class="btn btn-secondary btn-block mb-2">Add New Book</button></a>
                    <a href="/admin/showStudentTable"><button class="btn btn-secondary btn-block mb-2">Show Student data</button></a>
                    <a href="/books/showBookTable"><button class="btn btn-secondary btn-block mb-2">Show Books data</button></a>
                </div>
                <div style="margin-top: 200px;">
                    <p class="lead mt-4">
                        Go back to the admin login page? <a href="/admin/adminLogin">Add Admin</a>
                      </p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>